

.banner-1,
.banner-2,
.banner-3 {
    background-size: cover;
    background-position: center center;
    padding-bottom: 120px;

    .btn-light {
        color: white;
    }

    .bx-ittem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sm-car {
        img {
            padding: 96px 0 37px 0;
            animation: move 1s ease 0s;
            position: relative;

            @keyframes move {
                0% {
                    top: -70px;
                }
                100% {
                    top: 0;
                }
            }
            
        }
    }

    h1 {
        font-size: 42px;
        color: white;
        font-weight: 800;
        letter-spacing: 1px;
        animation: move-h1 0.5s ease 0.3s;
        position: relative;

        @keyframes move-h1 {
            0% {
                top: 70px;
                opacity: 0;
            }
            100% {
                top: 0;
                opacity: 1;
            }
        }

        &:hover {
            color: rgba(255,255,255, 0.5);
            transition: 0.5s ease;
        }
    }

    .subtitle {
        color: white;
        font-size: 21px;
        padding: 47px 0 49px 0;
        animation: move-subtitle 0.5s ease 0.5s;
        position: relative;

        @keyframes move-subtitle {
            0% {
                top: 70px;
                opacity: 0;
            }
            100% {
                top: 0;
                opacity: 1;
            }
        }
    }

    .btn {
        animation: move-btn 0.5s ease 0.7s;
        position: relative;

        @keyframes move-btn {
            0% {
                top: 70px;
                opacity: 0;
            }
            100% {
                top: 0;
                opacity: 1;
            }
        }
    }
}

.banner-1 {
    background-image: url(/img/slider/image_01.jpg);
}

.banner-2 {
    background-image: url(/img/slider/image_02.jpg);
}

.banner-3 {
    background-image: url(/img/slider/image_03.jpg);
}