.banner-1,
.banner-2,
.banner-3 {
    background-size: cover;
    background-position: center center;
    padding-bottom: 120px;

    .btn-light {
        color: white;
    }

    .bx-ittem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sm-car {
        img {
            padding: 96px 0 37px 0;
            animation: slide-botton 0.7s ease-in-out 0.3s;
            animation-fill-mode: forwards;
            position: relative;
            opacity: 0;
        }
    }

    h1 {
        font-size: 42px;
        color: white;
        font-weight: 800;
        letter-spacing: 1px;
        animation: slide-top 1s ease-in-out 0.5s;
        animation-fill-mode: forwards;
        position: relative;
        opacity: 0;

        &:hover {
            color: rgba(255,255,255, 0.5);
            transition: 0.5s ease;
        }
    }

    .subtitle {
        color: white;
        font-size: 21px;
        padding: 47px 0 49px 0;
        animation: slide-top 1s ease-in-out 0.7s;
        animation-fill-mode: forwards;
        position: relative;
        opacity: 0;
    }

    .btn {
        animation: slide-top 1s ease-in-out 0.9s;
        animation-fill-mode: forwards;
        position: relative;
        opacity: 0;
    }

    @keyframes slide-top {
        0% {
            top: 80px;
            opacity: 0;
        }
        100% {
            top: 0;
            opacity: 1;
        }
    }

    @keyframes slide-botton {
        0% {
            top: -80px;
            opacity: 0;
        }
        100% {
            top: 0;
            opacity: 1;
        }
    }
}

.banner-1 {
    background-image: url(/img/slider/image_01.jpg);
}

.banner-2 {
    background-image: url(/img/slider/image_02.jpg);
}

.banner-3 {
    background-image: url(/img/slider/image_03.jpg);
}