.repair {
    padding-bottom: 67px;
    
    .title {
        padding: 8px 0 28px 0;
    }

    .pictures{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 16px 0 60px 0;
    }

    .pic-item {
        width: 33.3333%;

        img {
            width: 100%;

            &:hover {
                opacity: 0.85;
                transition: 0.5s;
                cursor: pointer;
                width: 100%;
            }
        }
    }

    .caption {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 9px 20px 9px 20px;

        img {
            width: auto;
        }
    }
}