@media screen and (max-width: $md-width) {
.header {
    padding-bottom: 16px;

        .menu {
            padding: 29px 0 15px 0;
            flex-direction: row
        }
        
        .logo {
            padding-bottom: 0px;
        }

        .nav {
            display: none;
        }

        .navbar {
            display: block;

            i {
                font-weight: 900;
                font-size: 28px;
                color: #999;
                cursor: pointer;
            }
        }
    }
}