a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 1.75em;
  color: #777;
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.title {
  font-size: 33px;
  letter-spacing: 1px;
}

.line {
  border-bottom: 2px solid #1E69B8;
  width: 80px;
}

.text {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

.caption {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

h3 {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 400;
}

h5 {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1px;
  font-weight: 600;
}

.contacts {
  background-color: #F5F5F5;
}

.contacts .information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts ul {
  display: flex;
  flex-direction: row;
}

.contacts ul li {
  font-size: 13px;
  border-left: 1px solid #E2E6E7;
  padding: 11px 20px 10px 21px;
  font-weight: 500;
  color: #A4AAB3;
}

.contacts ul li:last-child {
  border-right: 1px solid #E2E6E7;
}

.contacts ul i {
  font-size: 11px;
  padding-right: 15px;
}

.contacts .social {
  display: flex;
  flex-direction: row;
}

.contacts .social i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 20px 19px 19px 18px;
  border-left: 1px solid #E2E6E7;
  font-weight: 600;
  color: #cbd0d1;
  cursor: pointer;
}

.contacts .social i:hover {
  color: #777777;
  transition: 0.5s ease;
}

.contacts .social i:last-child {
  border-right: 1px solid #E2E6E7;
}

.header .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 36px 0;
}

.header .logo {
  font-size: 34px;
  font-weight: 800;
  color: #1E69B8;
}

.header .nav ul {
  display: flex;
  flex-direction: row;
}

.header .nav ul li {
  font-size: 16px;
  padding-left: 26px;
  font-weight: 400;
}

.banner-1,
.banner-2,
.banner-3 {
  background-size: cover;
  background-position: center center;
  padding-bottom: 120px;
}

.banner-1 .btn-light,
.banner-2 .btn-light,
.banner-3 .btn-light {
  color: white;
}

.banner-1 .bx-ittem,
.banner-2 .bx-ittem,
.banner-3 .bx-ittem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-1 .container,
.banner-2 .container,
.banner-3 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-1 .sm-car img,
.banner-2 .sm-car img,
.banner-3 .sm-car img {
  padding: 96px 0 37px 0;
  animation: move 1s ease 0s;
  position: relative;
}

@keyframes move {
  0% {
    top: -70px;
  }
  100% {
    top: 0;
  }
}

.banner-1 h1,
.banner-2 h1,
.banner-3 h1 {
  font-size: 42px;
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
  animation: move-h1 0.5s ease 0.3s;
  position: relative;
}

@keyframes move-h1 {
  0% {
    top: 70px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.banner-1 h1:hover,
.banner-2 h1:hover,
.banner-3 h1:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s ease;
}

.banner-1 .subtitle,
.banner-2 .subtitle,
.banner-3 .subtitle {
  color: white;
  font-size: 21px;
  padding: 47px 0 49px 0;
  animation: move-subtitle 0.5s ease 0.5s;
  position: relative;
}

@keyframes move-subtitle {
  0% {
    top: 70px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.banner-1 .btn,
.banner-2 .btn,
.banner-3 .btn {
  animation: move-btn 0.5s ease 0.7s;
  position: relative;
}

@keyframes move-btn {
  0% {
    top: 70px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.banner-1 {
  background-image: url(/img/slider/image_01.jpg);
}

.banner-2 {
  background-image: url(/img/slider/image_02.jpg);
}

.banner-3 {
  background-image: url(/img/slider/image_03.jpg);
}

.bx-wrapper {
  border: 0;
  margin-bottom: 0;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 250px;
  margin-top: 0;
  outline: 0;
  width: 0;
  height: 0;
}

.bx-wrapper .bx-prev, .bx-wrapper .bx-next {
  background-image: url(/img/chevron.gif);
  padding: 50px 20px;
  background-repeat: no-repeat;
  display: none;
  position: absolute;
  background-color: black;
  background-size: 14px;
  background-position: center center;
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 0;
}

.bx-wrapper .bx-prev {
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bx-wrapper .bx-next {
  transform: scaleX(-1);
  right: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bx-wrapper:hover .bx-prev, .bx-wrapper:hover .bx-next {
  background-color: black;
  opacity: 0.15;
  display: block;
}

.bx-wrapper:hover .bx-prev:hover, .bx-wrapper:hover .bx-next:hover {
  background-color: white;
  background-image: url(/img/chevron-black.gif);
  background-position: center center;
  opacity: 1;
}

.bx-wrapper .bx-pager {
  padding-top: 0;
  bottom: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background-color: rgba(0, 0, 0, 0.25);
  text-indent: -9999px;
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  outline: 0;
  border-radius: 100%;
}

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: white;
  transition: 0.5s ease;
}

.bx-wrapper .bx-viewport {
  min-height: 600px;
}

.btn {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 14px 24px 14px 24px;
  border: 1px solid;
  border-color: white;
  background-color: #1E69B8;
  color: white;
  position: relative;
}

.btn::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: 0.2s ease 0s;
  z-index: 9;
}

.btn:hover::before {
  width: 100%;
  background: rgba(0, 0, 0, 0.12);
}

.btn-light {
  background-color: transparent;
  border: 1px solid #e9dddd;
  color: #1E69B8;
}

.btn-light:hover {
  background-color: #1E69B8;
  color: white;
  transition: 0.5s ease;
}

.appointment {
  background-color: #F5F5F5;
  padding: 50px 0;
}

.appointment .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.appointment h3 {
  color: black;
}

.appointment .request {
  padding: 0 39px 0 0;
}

.serviced .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serviced .title {
  padding: 73px 0 28px 0;
}

.serviced .text {
  padding: 34px 0;
}

.serviced .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0 27px 0;
}

.serviced .service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 31.6%;
}

.serviced .service-item .line {
  width: 40px;
}

.serviced .caption {
  padding: 34px 0 20px 0;
}

.serviced p {
  padding: 21px 10px;
}

.model-car {
  padding: 65px 0;
  display: flex;
  flex-direction: row;
}

.model-car .repair-img {
  width: 50%;
  background-position: center center;
  background-image: url(/img/image_10.jpg);
  background-size: cover;
}

.model-car .nav-models {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 66px;
}

.model-car .nav-models .text {
  padding: 34px 0 30px 0;
}

.model-car .name-car {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 15px 48px 15px;
}

.model-car .name-car .item-car img {
  padding-right: 12px;
}

.model-car .name-car li {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.repair {
  padding-bottom: 67px;
}

.repair .title {
  padding: 8px 0 28px 0;
}

.repair .pictures {
  display: flex;
  flex-direction: row;
  padding: 16px 0 60px 0;
}

.repair .pictures img:hover {
  opacity: 0.85;
  transition: 0.5s;
  cursor: pointer;
}

.repair .caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 9px 20px 9px 20px;
}

.comment {
  padding: 0;
  color: white;
  background-image: url(/img/bg-body.jpg);
  background-position: center center;
  background-size: cover;
}

.comment .container {
  display: block;
  position: relative;
}

.comment .slick-prev, .comment .slick-next {
  background-image: url(/img/btn-slick.gif);
  background-repeat: no-repeat;
  background-position: center center;
  width: 60px;
  height: 60px;
  border: 1px solid white;
  border-radius: 100%;
}

.comment .slick-prev:hover, .comment .slick-next:hover {
  background-color: #1E69B8;
  transition: 0.5s;
}

.comment .slick-prev::before, .comment .slick-next::before {
  content: '';
}

.comment .slick-prev {
  left: 0;
  top: 236px;
}

.comment .slick-next {
  transform: scaleX(-1);
  right: 0;
  top: 206px;
}

.comment .quote {
  padding: 0 62px;
}

.comment .quote-item {
  font-style: italic;
  font-size: 21px;
  line-height: 36px;
  padding: 68px 0px 55px 0px;
  letter-spacing: -0.21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.comment .quote-item img {
  margin-bottom: 39px;
}

.comment .line {
  border-bottom: 1.5px solid white;
  width: 42px;
  padding: 22px 0;
}

.comment .autor {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 6px 0;
  font-style: normal;
}

.overviev .nav-overviev {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 44px;
}

.overviev .overviev-item {
  width: 31.5%;
  position: relative;
}

.overviev .overviev-item .caption {
  font-size: 17px;
  padding: 31px 0 15px 0;
}

.overviev .overviev-item img {
  position: absolute;
  top: 82px;
  left: 0;
}

.overviev .overviev-item p {
  padding: 0 0 21px 78px;
}

.gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.gallery .img-item {
  width: 25%;
}

.gallery img {
  width: 100%;
}

.box {
  border-bottom: 1px solid #E2E6E7;
  padding-bottom: 46px;
}

.box .container {
  display: flex;
  flex-direction: row;
}

.box .content {
  width: 50%;
  padding: 51px 0;
}

.box .content .text {
  text-align: left;
  padding: 34px 0 14px 0;
}

.box .box-acordeon {
  width: 50%;
  padding: 51px 0 60px 15px;
}

.box .accordion {
  border: 1px solid #E2E6E7;
  margin-top: 39px;
  text-align: left;
}

.box .accordion .text, .box .accordion .ui-widget {
  text-align: left;
  font-size: 18px;
  font-family: 'Open Sans';
  line-height: 28px;
  font-weight: 300;
}

.box .accordion .ui-accordion-header {
  margin: 0;
  outline: none;
  padding: 18px 20px;
  border: none;
  border-bottom: 1px solid #E2E6E7;
}

.box .accordion .ui-accordion-header .ui-icon {
  background-image: url(/img/acord-right.gif);
  background-position: 0 4px;
  width: 30px;
  height: 30px;
  margin-right: 14px;
}

.box .accordion .ui-state-active .ui-icon {
  background-image: url(/img/acord-bottom.gif);
}

.box .accordion p {
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 26px;
  color: #777;
  padding: 0;
}

.box .accordion .ui-accordion-content {
  padding: 0 2px 25px 19px;
  border: none;
  border-bottom: 1px solid #E2E6E7;
}

.box .accordion .ui-state-default {
  background: none;
  color: #777;
}

.box p {
  padding: 0px 10px 59px 0;
  line-height: 26px;
}

.box .line {
  width: 40px;
  padding: 8px 0 8px 0;
}

.box .btn {
  padding: 20px 24px 20px 23px;
}

.logos .nav-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 49px 0;
  margin-bottom: 62px;
}

.logos .nav-logos img {
  width: 170px;
}

.logos .nav-logos .slick-slide {
  outline: none;
}

.logos .nav-logos .slick-dots li button::before {
  content: '';
  border: 2px solid #1E69B8;
  width: 11px;
  height: 11px;
  border-radius: 100%;
}

.logos .nav-logos .slick-dots li {
  width: 11px;
  height: 11px;
}

.logos .nav-logos .slick-dots {
  bottom: -17px;
}

.logos .bullets {
  padding: 0;
  padding: 0 0 51px 0;
  justify-content: center;
}

.logos .bullet {
  background-color: white;
  border: 2px solid #d5d8d7;
}

.logos .bullet:hover {
  border: 2px solid #1E69B8;
}

.footer {
  background-color: #73767A;
  color: white;
}

.footer .calls {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #E2E6E7;
}

.footer .call-item {
  width: 31.6%;
  font-size: 21px;
  padding: 42px 0 42px 78px;
  position: relative;
  line-height: 32px;
}

.footer .call-item img {
  position: absolute;
  top: 49px;
  left: 0;
}

.footer .wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0 26px 0;
}

.footer .inner {
  width: 23%;
}

.footer h5 {
  padding-bottom: 13px;
}

.footer .line {
  width: 40px;
  border-color: white;
}

.footer .about p {
  padding: 20px 0 0 0;
  line-height: 26px;
  font-weight: 400;
}

.footer .about .social {
  display: flex;
  flex-direction: row;
  padding: 24px 0;
}

.footer .about i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border: 1px solid #E2E6E7;
  font-weight: 600;
  color: #cbd0d1;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.footer table {
  font-size: 14px;
  margin-left: -3px;
}

.footer table tr {
  line-height: 22px;
}

.footer table td {
  width: 34%;
  font-weight: 400;
}

.footer .nav-our {
  padding: 20px 0;
}

.footer .nav-our li {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.footer .nav-our img {
  margin-right: 12px;
}

.footer .nav-tags {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer .nav-tags a {
  padding: 4px 12px;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 500;
  border: 1px solid white;
  display: block;
  margin: 0 7px 7px 0;
}

.footer .hours td {
  width: 34%;
}

.footer .hours table {
  padding: 19px 0;
  width: 100%;
}

.copyring {
  text-align: center;
  padding: 30px 0;
}

.copyring p {
  font-size: 14px;
}

.copyring a {
  font-weight: 500;
}
