@media screen and (max-width: $sm-width) {

    .banner-1,
    .banner-2,
    .banner-3 {

        .bx-ittem {
            text-align: center;
        }

        .container {
            width: 100%;
        }

        .bx-ittem {
            padding: 102px 0 106px 0;
        }

        .sm-car {
            display: none;
        }

        h1 {
            font-size: 18px;
            padding-bottom: 0;
        }

        .subtitle {
            display: none;
        }

        .btn {
            display: none;
        }
    }
}