@media screen and (max-width: $sm-width) {
    .comment {

        .slick-prev, .slick-next {
            width: 48px;
            height: 48px;
        }

        .slick-prev {
            left: 0;
            top: 63px;
        }

        .slick-next {
            transform: scaleX(-1);
            right: 0;
            top: 40px;
        }

        .quote {
            padding: 0 62px;
        }

        .quote-item {
            font-size: 18px;
            line-height: 28px;
            line-height: 28px;
            padding: 12px 0 0px 0;
            letter-spacing: -0.3px;

            br {
                display: none;
            }

            img {
                margin-bottom: 29px;
                
            }
        }

        .line {
            padding: 22px 0;
        }

        .autor {
            padding: 9px 0;
        }
    }
}