@media screen and (max-width: $sm-width) {
    .box {
        padding-bottom: 52px;

        .container {
            flex-direction: column;
        }

        .content {
            width: 100%;
            padding: 30px 0 35px 0;

            .text {
                padding: 34px 2px 14px 0;
            }
        }

        .box-acordeon {
            padding: 0 0 60px 0;
            width: 100%;
        }

        .accordion {
            margin-top: 39px;

            .text, .ui-widget{
                font-size: 14px;
            }

            .ui-accordion-header {
                padding: 7px 5px;

                .ui-icon {
                    background-position: 0 4px;
                    width: 30px;
                    height: 30px;
                    margin-right: 14px;
                }
            }

            p {
                font-size: 12px;
                line-height: 26px;
            }

            .ui-accordion-content {
                padding: 0 2px 25px 19px;
            }
        }

        p {
            padding: 0px 0px 44px 0;
            line-height: 26px;
        }

        .line {
            width: 40px;
            padding: 5px 0 8px 0;
        }

        .btn {
            padding: 20px 20px 20px 19px;
        }
    }
}