@media screen and (max-width: $xl-width) {

    .banner-1,
    .banner-2,
    .banner-3 {
        padding-bottom: 0;

        .bx-ittem {
            padding-bottom: 125px;
        }

        .sm-car {
            img {
                padding: 80px 0 81px 0;
                width: 90px; 
            }
        }

        h1 {
            font-size: 30px;
        }

        .subtitle {
            font-size: 16px;
            font-weight: 400;
            padding: 47px 0 55px 0;
        }
    }
}