@media screen and (max-width: $xl-width) {
    .logos {

        .nav-logos {
            padding: 66px 0;
            margin-bottom: 37px;

            img {
                width: 125px;
            }

            .slick-dots li button::before {
                width: 11px;
                height: 11px;
            }
            .slick-dots li {
                width: 11px;
                height: 11px;
            }
            .slick-dots {
                bottom: -17px;
            }
        }
    }
}